<%= javascript_include_tag "galaxian" %>
<html>
  <head>
    <title>Galaxian</title>
    <h1>Galaxian</h1>
    <style>
      canvas {
      position: absolute;
      background: transparent;
      }
    </style>
  </head>
  <body>
    <div class="pad">
      <!-- The canvas for the panning background -->
      <canvas id="background" width="600" height="360">
	Your browser does not support canvas. Please try again with a different browser.
      </canvas>
      <!-- The canvas for all enemy ships and bullets -->
      <canvas id="main" width="600" height="360">
      </canvas>
      <!-- The canvas the ship uses (can only move up one forth the screen. -->
      <canvas id="ship" width="600" height="360">
      </canvas>

      <div class="score">SCORE: <span id="score"></span></div>
      <div class="game-over" id="game-over">GAME OVER<p><span onclick="game.restart()" onclick="save()">Restart</span></p></div>
      <div class="loading" id="loading">LOADING...<p>Please wait</p></div>
    </div>
    <div class="fps">FPS: <span id="fps">1</span>  <button type="button" onclick="mute()">Mute/Unmute</button></div>
    
    <h2><%= link_to "Galaxian Scores", galaxian_scores_path %></h2>

    <script>
      function mute() {
      if (game.backgroundAudio.volume !== 0) {
      game.backgroundAudio.volume = 0;
      game.gameOverAudio.volume = 0;
      }
      else {
      game.backgroundAudio.volume = .25;
      game.gameOverAudio.volume = .25;
      }
      }


      $('#game-over').on("click",function(){ // use event as per your need
      $.ajax({
              type: "GET",
              url:    "/update_score", // should be mapped in routes.rb
              data: {score: $('#score').html()},
              datatype:"html", // check more option             
              async:   true
            });    

      });

    </script>
  </body>
</html>
