<%= javascript_include_tag "bricks" %>
<h3>Bricks</h3>
<body onload="init();">
  <canvas id="canvas" width="600" height="600" style="border:3px solid;"></canvas>
  <br>
  <div id = "br-score">Score:</div>
  <div id = "br-lives">Lives:</div>
  <input type ="text" readonly id = "br-box">
  <input type ="text" readonly id = "br-box2"> 
  <form>
    <input type="submit" id = "br-start_button" onclick="startdraw();this.disabled = 'disabled';return false;" value="start">
    <input type="submit" onclick="abort() ; " value="clear">
  </form>
  <h2><%= link_to "Bricks Scores", bricks_scores_path %></h2>

</body>
