<h3>Bricks</h3>
<body onload="init();">
  <canvas id="canvas" width="600" height="600" style="border:1px solid;"></canvas>
  <br>
  <form>
    <input type="submit" onclick="startdraw(); return false;" value="start">
    <input type="submit" onclick="alert(document.getElementByID('canvas').width);abort() ; " value="clear">
</body>
