<head>
  <title>Galaxian</title>
<!---  <style>
    canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    }
  </style> --->
  <h1>Galaxian</h1>
</head>
<body onload="init_galaxian();">
  <!-- The canvas for the panning background -->
  <canvas id="background" width="600" height="360" style="border:1px solid;">
    Your browser does not support canvas. Please try again with a different browser.
  </canvas>
</body>

