// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#background {
    z-index: -2;
}
#main {
    z-index: -1;
}
#ship {
    z-index: 0;
}
.score {
    position: absolute;
    left: 84%;
    color: #FF7F00;
    font-family: Helvetica, sans-serif;
    cursor: default;
}

.lives 
{
    position: absolute;
    right: 84%;
    color: #FF7F00;
    font-family: Helvetica, sans-serif;
    cursor: default;
}

.game-over {
    position: absolute;
    top:40%;
    left:35%;
    color: #FF7F00;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    cursor: default;
    display: none;
}
.game-over span {
    font-size: 20px;
    cursor: pointer;
    position: relative;
    left: 50px;
}
.game-over span:hover {
    color: #FFD700;
}
.gal-start_button{
    position: absolute;
    top:40%;
    left:30%;
    color: #FF7F00;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    cursor: default;
    display: none;
}

.gal-start_button span {
    font-size: 30px;
    cursor: pointer;
    position: relative;
    left: 50px;
}

.gal-start_button span:hover {
    color: #FFD700;
}

.loading {
    position: absolute;
    top:40%;
    left:35%;
    color: #FF7F00;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    cursor: default;
}

.pad{
    position: relative;
    width: 600px;
    height:360px;
    margin: 0px auto;
    border: 1px solid black;
 }

.fps {
    position: relative;
    margin: 0px auto;
}
