#br-lives{
    font-weight: bold;  
    float: right;
    position:absolute;
    left: 1135px;
}
#br-score{
    font-weight: bold;	
    float: right;
    width: 250px;
}

#br-box{
    position: absolute;
    border:none;
    width:4%;
    float: right;
    left: 1065px;
    background-color: "#FFFFFF";
}
#br-box2{
    position: absolute;
    border:none;
    width:3%;
    float: right;
    left: 1185px;
    background-color: "#FFFFFF";
}